<div>
    <button (click)="addModeOn()">Add Event</button>
    <div *ngIf="addMode">
        <p>Name: <br/><input type="text" [(ngModel)]="newName"/></p>
        <p>Location: <br/><input type="text"  [(ngModel)]="newLocation"/></p>
        <p>Date: <br/><input type="text"  [(ngModel)]="newDate"/></p>
        <p>Time: <br/><input type="text"  [(ngModel)]="newTime"/></p>
        <p>Category: <br/><input type="text"  [(ngModel)]="newCategory"/></p>
        <p><input type="checkbox"  [(ngModel)]="newFavorite"/> Favorite</p>
        <button (click)="add()">Save</button>
        <button (click)="cancel()">Cancel</button>
    </div>


    <div>
        <div *ngFor="let e of TheList">         
            <app-event-detail [event]="e" (update)="updateOne($event)"></app-event-detail>
        </div>
    </div>
</div>
